<% provide(:title, "My Dashboard") %>
<div class="container">
	<div class="row">
		<div class="span12 center users">
			<h1><%= @user.title %></h1>
			<div class="row-fluid">
				<div class="span7">
					<h2 class="pull-right">With <%= @user.name %></h2>
				</div>
				<div class="span5 pull-left">
					<%= gravatar_for @user %>
				</div>
			</div>
			<br /><br />
			<div class="row">
				<div class="span8 offset2">
					<p>
						<%= @user.description %>
					</p>
					<br />
				</div>
			</div>
		</div>
	</div>
	
	<br />
	<% if @user.videos.any? %>
		<div class="row">
			<div class="span2">
				<h3>Videos: (<%= @user.videos.count %>)</h3>
			</div>
			<div class="span4 offset6 pull-right">
				<%= render 'shared/searchbar' %>
			</div>
			</br>
		</div>
		<div class="row videos">
			
				<%= render @videos %>
		</div>
	<% end %>

	<div class="row">
		<br />
		<br />
		<div class="span10 center">
			<%= link_to "Add some EDUtainment", new_user_video_path(@user), class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>
	
<br />
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
